.none {
  display: none;
}
body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
}
p {
  margin: 0 0 5px;
}
.article {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}
.article_top_div {
  width: 80%;
}
.article_btm_div {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}
.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}
.test-input {
  margin: 0 5px 5px 0;
}
.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}
.modal_to_dlt {
  z-index: 5;
  position: fixed;
  width: 400px;
  height: 105px;
  margin: -25px 500px;
  background-color: grey;
  border: 1px solid firebrick;
}
.modal_to_dlt div {
  display: flex;
  justify-content: space-around;
}
.modal_to_dlt div button {
  width: 70px;
  height: 35px;
}
.bg {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

